In [0]:
import pandas as pd

#employee
df1 = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'name': ['Shivm', 'Gajen', 'Avijit', 'Deepak'],
    'dept': ['HR', 'IT', 'IT', 'Sales'],
    'salary': [60000, 75000, 72000, 50000]
})

df2 = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Carol', 'Deepak'],
    'dept': ['HR', 'IT', 'IT', 'Sales'],
    'salary': [60000, 75000, 72000, 50000]
})
df1 = spark.createDataFrame(df1)
df2 = spark.createDataFrame(df2)

In [0]:
df3 = df1.union(df2).drop_duplicates()
df3.show()

In [0]:
from pyspark.sql.functions import when, col

df3 = df3.withColumn(
    "status",
    when(col("salary") > 70000, "senior")
    .when(col("salary") > 60000, "manager")
    .otherwise("Low")
)

display(df3)

In [0]:
df3.select(col("*"), 
    when(col("salary") > 70000, "senior")
    .when(col("salary") > 60000, "manager")
    .otherwise("Low").alias("Position")
).show()